RewriteEngine On

# ----------- PHP REWRITES -------------
# Reescribe la URL para 'Index.php'
RewriteRule ^Inicio$ index.php [L]

# Reescribe la URL para 'Index.php'
RewriteRule ^Configuracion$ View/Settings.php [L]

# Reescribe la URL para 'PowerBI.php'
RewriteRule ^Informes$ View/PowerBI.php [L]

# Reescribe la URL para 'Users.php'
RewriteRule ^Usuarios$ View/Users.php [L]

# Reescribe la URL para 'Companies.php'
RewriteRule ^Empresas$ View/Companies.php [L]

# Reescribe la URL para 'Dashboard.php'
RewriteRule ^Tablero$ View/Dashboard.php [L]

# Reescribe la URL para 'LogIn.php'
RewriteRule ^Iniciar_Sesion$ View/LogIn.php [L]

# Reescribe la URL para 'SignUp.php'
RewriteRule ^Registrar$ View/SignUp.php [L]

# Reescribe la URL para 'Index.php'
RewriteRule ^XZ$ Controller/Uzz.php [L]


# ----------- PHP REWRITES -------------



# ----------- CSS REWRITES -------------

# Reescribe la URL para 'Styles_Menus.css'
RewriteRule ^Estilos_Menu$ View/css/Styles_Menus.css [L]

# Reescribe la URL para 'Styles_Settings.css'
RewriteRule ^Estilos_Configuracion$ View/css/Styles_Settings.css [L]

# Reescribe la URL para 'Styles_Companies.css'
RewriteRule ^Estilos_Empresas$ View/css/Styles_Companies.css [L]

# Reescribe la URL para 'Styles_Dashboard.css'
RewriteRule ^Estilos_Tablero$ View/css/Styles_Dashboard.css [L]

# Reescribe la URL para 'Styles_Login.css'
RewriteRule ^Estilos_Inicio_Sesion$ View/css/Styles_Login.css [L]

# Reescribe la URL para 'Styles_PowerBI.css'
RewriteRule ^Estilos_PowerBI$ View/css/Styles_PowerBI.css [L]

# Reescribe la URL para 'Styles_SignUp.css'
RewriteRule ^Estilos_Registros$ View/css/Styles_SignUp.css [L]

# Reescribe la URL para 'Styles_Users.css'
RewriteRule ^Estilos_Usuarios$ View/css/Styles_Users.css [L]


# ----------- CSS REWRITES -------------


# ----------- JS REWRITES --------------

# Reescribe la URL para 'Script_Menus.js'
RewriteRule ^Funcion_Menu$ View/js/Script_Menus.js [L]

# Reescribe la URL para 'Script_Settings.js'
RewriteRule ^Funcion_Configuracion$ View/js/Script_Settings.js [L]

# Reescribe la URL para 'Script_Companies.js'
RewriteRule ^Funcion_Empresa$ View/js/Script_Companies.js [L]

# Reescribe la URL para 'Script_Dashboard.js'
RewriteRule ^Funcion_Tablero$ View/js/Script_Dashboard.js [L]

# Reescribe la URL para 'Script_PowerBI.js'
RewriteRule ^Funcion_PowerBI$ View/js/Script_PowerBI.js [L]

# Reescribe la URL para 'Script_SignUp.js'
RewriteRule ^Funcion_Registro$ View/js/Script_SignUp.js [L]

# Reescribe la URL para 'Script_syncSettings.js'
RewriteRule ^Funcion_Sincronizacion$ View/js/Script_syncSettings.js [L]

# Reescribe la URL para 'Script_Users.js'
RewriteRule ^Funcion_Usuarios$ View/js/Script_Users.js [L]

# ----------- JS REWRITES -------------


# ----------- IMG REWRITES -------------

# Reescribe 'PImageHome' a 'Home'
RewriteRule ^PImageRecurso/(.*)$ View/img/$1 [L]




# ----------- IMG REWRITES -------------


# ----------- VIDEO REWRITES -------------

# Reescribe 'PVideoBanner' a 'Videos/Banners'
# RewriteRule ^PVideoBanner/(.*)$ View/Videos/Banners/$1 [L]

# ----------- VIDEO REWRITES -------------